@import "macchiato.css";

* {
    font-family: JetBrainsMonoNL Nerd Font Mono;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(36,39,58,0.6);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @subtext1;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #64727D;
    background-color: @overlay0;
    background-color: @surface1;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @blue;
    background-color: #64727D;
    background-color: transparent; 
}

#battery {
    background-color: transparent; 
    color: @pink;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: transparent;    
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent; 
    color: @peach;
}

#memory {
    background-color: transparent;
    color: @mauve;
}

#backlight {
    background-color: transparent;
    color: @sky;
}

#network {
    background-color: transparent;
    color: @green;
}

#network.disconnected {
    background-color: transparent;
    color: @red
}

#pulseaudio {
    background-color: transparent;
    color: @lavender;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #2a5c45;
}

#temperature {
    color: @maroon;
    background-color: transparent;
}

#temperature.critical {
    color: @red;
    background-color: transparent;
}

#tray {
    color: @flamingo;
    background-color: transparent;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @flamingo;
    background-color: transparent;
}
